<!DOCTYPE html>
<html lang="en">
<%- include('template/head')%>
<body>
    <%- include('template/navbar')%>
    <div class="container">
        <div class="lottery__box">
            <div class="lottery__manual">
                <h3>2022 盛夏輕食特賞！抽獎活動辦法</h3>
                <div class="manual__box">
                    <hr>
                    活動期間：　2022/06/01 ~ 2022/07/01
                    <hr>
                    活動說明：　老闆有錢沒地方花所以決定舉辦活動<br>
                    　　　　　　回饋各位老顧客，活動期間只要來店<br>
                    　　　　　　消費滿 1 元即可抽獎，有抽有希望！<br>
                    <hr>
                    獎品內容：　頭獎一名：真的有要抽的 GOGORO 一台<br>
                    　　　　　　　　　　　（市價 69980 元）<br>
                    　　　　　　貳獎三名：45 吋電視一台<br>
                    　　　　　　　　　　　（市價 14990 元）<br>
                    　　　　　　參獎十名：撒太耳娛樂脫口秀《顏上》<br>
                    　　　　　　　　　　　入場券一張（市價 1800 元）
                    <hr>
                </div>
                <div class="lottery__go">
                    點我抽獎
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>